{* Smarty *}
<h5 class="h">Фильмы</h5>
<ul class="nav nav-pills nav-stacked">
 
 {foreach from=$actual_films item="film"}
  <li><a href="/booking/{$film->id}">{$film->caption}</a></li>
 {/foreach}
</ul>