body {
 padding: 10px 0 40px;
 font-size: 13px;
}

.container {
 min-width: 400px;
}

.nav.nav-stacked > li > a {
 padding-top: 5px;
 padding-bottom: 5px;
}

.nav.nav-stacked .h {
 padding-top: 10px;
}


.main-footer {
 padding: 10px 0;
 border-top: 1px solid #eee;
 line-height: 19px;
 background: #fff;
}

.a-edit {
 
}

.a-delete {
 color: #c00;
}
.a-delete:hover {
 color: #b00;
}

.add-button-div {
 padding: 10px 0 20px;
}

form .alert {
 padding-top: 5px;
 padding-bottom: 5px;
 margin-top: 5px;
}


input[type="date"] {
 width: 243px;
}


.places-list .btn-group {
 display: block;
 margin-bottom: 10px;
 text-align: center;
}

.places-list .btn-group > .btn {
 float: none;
 display: inline-block;
 width: 30px;
}

.places-list .btn-group > .btn.double-place {
 background: #aaa;
}

.places-list .btn-group .row-label {
 width: 60px;
 margin-right: 10px;
 text-align: right;
}

#booking-form {
 display: none;
}